@media only screen and (max-width: 1600px) {
  .revenue-left .tier-arrow {
    width: 50%;
    right: -5%;
    top: 80%;
  }
  .utilities-invest-section {
    padding-top: 150px;
  }
  .utilities-invest-column {
    padding: 40px 20px 0px 20px;
  }
  .utilities-invest-column.center .air-mil-img {
    top: -15%;
  }
  .what-is-shape {
    width: 60%;
  }
}
@media only screen and (max-width: 1440px) {
  .container {
    max-width: 1200px;
  }
  body {
    font-size: 16px;
  }
  .header-inner {
    padding: 20px 0px;
  }
  .section-title h2 {
    font-size: 45px;
  }
  .banner-section {
    padding-bottom: 40px;
    position: relative;
  }
  .what-is-section {
    padding-bottom: 150px;
    position: relative;
    z-index: 1;
  }
  .how-it-section {
    position: relative;
    z-index: 2;
  }
  .how-it-left {
    max-width: 600px;
  }
  .revenue-section {
    padding-bottom: 150px;
  }
  .revenue-right {
    max-width: 600px;
    padding-top: 80px;
  }
  .revenue-right .tier-text {
    margin-bottom: -130px;
  }
  .how-it-section {
    padding-bottom: 120px;
  }
  .sustainability-inner {
    padding: 47px 0px;
  }
  .sustainability-inner p {
    max-width: 778px;
  }
  .roadmap-section {
    padding-top: 100px;
  }
  .roadmap-section .roadmap-shape {
    height: 365px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .roadmap-section .roadmap-slider {
    margin-left: 0;
  }
  .roadmap-section .slider-item {
    padding: 0px 12px;
  }
  .join-us-section {
    padding-bottom: 100px;
  }
  .footer-content {
    bottom: 5px;
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
  .menu-btn {
    height: 50px;
    width: 110px;
  }
}
@media only screen and (max-width: 991px) {
  .header-inner .logo {
    max-width: 130px;
  }
  .banner-text {
    margin: auto;
    text-align: left;
  }
  .banner-section {
    padding-top: 45px;
  }
  .banner-cloud {
    position: absolute;
    right: 0;
    top: 30px;
    display: block;
  }
  .banner-img {
    max-width: 550px;
    margin: auto;
    padding: 50px 0px 0px 0px;
  }
  .token-detail .left {
    text-align: left;
  }
  .token-detail .right {
    text-align: right;
  }
  .section-title h2 {
    font-size: 32px;
  }
  .what-is-section {
    padding-top: 100px;
    padding-bottom: 0px;
  }
  .what-is-shape.s-line {
    display: none;
  }
  .what-is-left {
    margin: auto;
    text-align: left;
    position: relative;
    z-index: 11;
    padding-top: 100px;
  }
  .what-is-left .section-title {
    margin: 0;
  }
  .what-is-left .section-title h2 {
    text-align: center;
  }
  .what-is-right {
    margin: auto;
    padding-top: 0px;
    max-width: 550px;
  }
  .how-it-content {
    margin-top: 30px;
    padding-top: 20px;
  }
  .how-it-left {
    margin: auto;
    max-width: 550px;
    margin-top: 30px;
  }
  .how-it-right {
    margin-top: 90px;
  }
  .crowdfunding-left {
    margin: auto;
  }
  .crowdfunding-right {
    text-align: center;
    max-width: 600px;
    padding-top: 40px;
    margin: auto;
    text-align: left;
  }
  .tokenomics-section .tokenomics-img {
    max-width: 600px;
  }
  .sustainability-inner .sustainability-shape {
    display: none;
  }
  .revenue-section .tier-arrow {
    display: none;
  }
  .revenue-left {
    text-align: left;
    margin-right: auto;
  }
  .revenue-right {
    margin: auto;
    padding-top: 185px;
  }
  .utilities-invest-section {
    padding-top: 70px;
  }
  .utilities-invest-inner-border {
    display: none;
  }
  .utilities-invest-column {
    width: 50% !important;
  }
  .utilities-invest-column.center {
    display: none;
  }
  .staking-left,
  .audits-left {
    text-align: center;
    margin: auto;
  }
  .staking-left .section-title,
  .audits-left .section-title {
    text-align: center;
    margin: auto;
  }
  .staking-right,
  .audits-right {
    max-width: 550px;
    margin: auto;
  }
  .staking-right .staking-img {
    max-width: 307px;
    width: 100%;
    margin: auto;
  }
  .staking-right .staking-img.desktop {
    display: none;
  }
  .staking-right .staking-img.mobile {
    display: block;
  }
  .roadmap-section .roadmap-cloud {
    right: 0;
    top: 15%;
    width: 40px;
  }
  .roadmap-section .roadmap-card {
    padding: 35px 20px;
  }
  .roadmap-section .roadmap-card h3 {
    font-size: 26px;
  }
  .faq-section {
    padding-bottom: 70px;
    sition: relative;
  }
  .faq-section .cloud-img1 {
    display: none;
  }
  .faq-section .cloud-img2 {
    display: none;
  }
  .faq-section .cloud-img3 {
    position: absolute;
    bottom: 2.5%;
    max-width: 100px;
    left: 50%;
  }
  .faq-section .cloud-img4 {
    display: none;
  }
  .footer-img img {
    height: 330px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 575px;
    padding: 0px 15px;
  }
  .utilities-invest-inner {
    flex-wrap: wrap;
  }
  .utilities-invest-img {
    display: block;
    width: 100%;
    margin-bottom: 74px;
  }
  .utilities-invest-img img {
    width: 100%;
  }
  .utilities-invest-column {
    width: 100% !important;
    padding: 0;
    min-height: auto;
  }
  .utilities-invest-column.left {
    padding-bottom: 50px;
  }
  .utilities-invest-column ul li {
    margin-bottom: 5px;
  }
  .utilities-invest-column .column-title h3 {
    font-size: 28px;
  }
  .how-it-content ul li h3 {
    font-size: 24px;
  }
  .token-detail {
    flex-wrap: wrap;
  }
  .tokenomics-section {
    position: relative;
    z-index: 0;
  }
  .tokenomics-section .container {
    position: relative;
    z-index: 1;
  }
  .tokenomics-section .tokenomics-img {
    max-width: 385px;
  }
  .tokenomics-section .count {
    padding: 12px 30px;
  }
  .tokenomics-section .count ul {
    flex-direction: row !important;
    justify-content: space-between;
  }
  .tokenomics-section .count ul li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
  .roadmap-section .roadmap-shape {
    height: 285px;
  }
  .roadmap-section .roadmap-slider {
    padding-top: 0;
  }
  .faq-content {
    padding-top: 20px;
  }
  .faq-content .accordion__button {
    font-size: 19px;
  }
  .join-us-section {
    padding-bottom: 50px;
  }
  .utilities-invest-section {
    padding-top: 60px;
  }
  .tokenomics-text {
    max-width: 90px;
  }
  .tokenomics-text.three {
    top: 35%;
  }
  .tokenomics-text.four {
    top: 47%;
  }
  .tokenomics-text h6 {
    font-size: 14px;
  }
  .tokenomics-text h6 span {
    font-size: 14px;
  }
  .footer-section {
    position: relative;
  }
  .footer-section .footer-cloud1 {
    position: absolute;
    left: 0%;
    top: 0;
    max-width: 20%;
  }
  .footer-section .footer-cloud2 {
    display: none;
  }
  .footer-section .footer-cloud3 {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  .banner-text h1 {
    font-size: 16px;
  }
  .banner-text h2 {
    font-size: 32px;
    max-width: 338px;
  }
  .banner-text h2 span {
    font-size: 36px;
  }
  .token-detail h6 {
    font-size: 14px;
  }
  .roadmap-section .roadmap-slider {
    margin-right: 0;
  }
  .roadmap-section .slider-item h6 {
    margin-bottom: 0;
  }
  .staking-section {
    padding-bottom: 30px;
  }
  .faq-section {
    padding-bottom: 50px;
  }
  .faq-content .accordion__button {
    padding: 20px;
    font-size: 16px;
    padding-right: 50px;
  }
  .faq-content .accordion__button::before, .faq-content .accordion__button::after {
    right: 30px;
  }
  .faq-content .accordion__panel {
    padding: 18px 20px;
  }
  .join-us-content {
    padding-top: 15px;
  }
  .join-us-content ul {
    flex-direction: column;
    align-items: flex-start;
    max-width: 260px;
    margin: auto;
  }
  .join-us-content ul li {
    gap: 12px;
  }
  .join-us-content ul li img {
    max-width: 22px;
    width: 22px;
  }
  .utilities-invest-column .column-title h3 {
    font-size: 24px;
    margin-bottom: 0;
  }
  .utilities-invest-column .column-title p {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .sustainability-inner .section-title {
    max-width: 235px;
    margin: auto;
    margin-bottom: 15px;
  }
  .sustainability-inner p {
    max-width: 301px;
    margin-bottom: 90px;
  }
  .tokenomics-section .tokenomics-shape {
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 70px;
    right: 2px;
  }
  .tokenomics-section .tokenomics-img .desktop {
    display: none;
  }
  .tokenomics-section .tokenomics-img .mobile {
    display: block;
    transform: translateX(10px);
  }
  .tokenomics-section .count {
    padding: 12px 10px;
  }
  .tokenomics-text.two {
    top: 54%;
    left: 4%;
  }
  .tokenomics-text.three {
    top: 60%;
  }
  .tokenomics-text.four {
    top: 62%;
    left: 27%;
  }
  .tokenomics-text.five {
    right: 18%;
    top: 64%;
  }
  .crowdfunding-left ul li {
    padding: 13px 17px;
  }
  .crowdfunding-left ul li .icon {
    min-height: 65px;
    min-width: 65px;
    max-height: 65px;
    max-width: 65px;
  }
  .crowdfunding-left ul li .detail h4 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 520px) {
  .buy-card {
    padding: 15px;
  }
  .buy-card .input-row {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
  }
  .buy-card .input-row .rtx-input {
    width: 100%;
  }
  .buy-card .payment-method ul li {
    height: auto;
  }
  .buy-card .payment-method ul li img {
    height: 35px;
    width: 35px;
  }
  .rtx-input .next-price {
    font-size: 12px;
  }
  .roadmap-section .roadmap-shape {
    height: 322px;
  }
  .tokenomics-section .count ul {
    gap: 15px;
    justify-content: center;
    flex-direction: column;
  }
}