@media only screen and (max-width: 1600px) {
    .revenue {
        &-left {
            .tier-arrow {
                width: 50%;
                right: -5%;
                top: 80%;
            }
        }
    }
    .utilities-invest{
        &-section{
            padding-top: 150px;
        }
        &-column{
            padding: 40px 20px 0px 20px;
            &.center {
                .air-mil-img{
                    top: -15%;
                }
            }
        }
    }
    

    .what-is-shape {
        width: 60%;
    }

   
}

@media only screen and (max-width: 1440px) {
    .container{
        max-width: 1200px;
    }
    body{
        font-size: 16px;
    }
    .header-inner {
        padding: 20px 0px;
    }

    .section-title {
        h2 {
            font-size: 45px;
        }
    }

    .banner-section {
        padding-bottom: 40px;
        position: relative;
    }

    .what-is-section {
        padding-bottom: 150px;
        position: relative;
        z-index: 1;
    }

    .how-it {
        &-section {
            position: relative;
            z-index: 2;
        }

        &-left {
            max-width: 600px;
        }

    }

    .revenue{
        &-section{
            padding-bottom: 150px;
        }
        &-right{
            max-width: 600px;
            padding-top: 80px;
            .tier-text{
                margin-bottom: -130px;
            }
        }
    }

    .how-it-section {
        padding-bottom: 120px;
    }

    .sustainability-inner{
        padding: 47px 0px;
        p{
            max-width: 778px;
        }
    }

    .roadmap-section{
        padding-top: 100px;
        .roadmap-shape{
            height: 365px;
            object-fit: cover;
        }
        .roadmap-slider{
            margin-left: 0;
        }
        .slider-item{
            padding: 0px 12px;
        }
    }
    .join-us-section{
        padding-bottom: 100px;
    }
    .footer-content {
        bottom: 5px;
    }
}

@media only screen and (max-width: 1200px) {
    .container{
        max-width: 992px;
    }
    .menu-btn{
        height: 50px;
        width: 110px;
    }
}
@media only screen and (max-width: 991px) {
    .header-inner{
        .logo{
            max-width: 130px;
        }
    }
    .banner-text{
        margin: auto;
        text-align: left;
    }
    .banner{
        &-section{
            padding-top: 45px;
        }
        &-cloud{
            position: absolute;
            right: 0;
            top: 30px;
            display: block;
        }
    }
    .banner-img{
        max-width: 550px;
        margin: auto;
        padding: 50px 0px 0px 0px;
    }
    .token-detail{
        .left{
            text-align: left;
        }
        .right{
            text-align: right;
        }
    }
    .section-title {
        h2{
            font-size: 32px;
        }
    
    }

    .what-is{
        &-section{
            padding-top: 100px;
            padding-bottom: 0px;
        }
        &-shape.s-line{
            display: none;
        }
        &-left{
            margin: auto;
            text-align: left;
            position: relative;
            z-index: 11;
            padding-top: 100px;
            .section-title{
                margin: 0;
                h2{
                    text-align: center;
                }
            }
        }
        &-right{
            margin: auto;
            padding-top: 0px;
            max-width: 550px;
        }
    }

    .how-it{
        &-content{
            margin-top: 30px;
            padding-top: 20px;
        }
        &-left{
            margin: auto;
            max-width: 550px;
            margin-top: 30px;
        }
        &-right{
            margin-top: 90px;
        }
    }

    .crowdfunding{
        &-left{
            margin: auto;
        }
        &-right{
            text-align: center;
            max-width: 600px;
            padding-top: 40px;
            margin: auto;
            text-align: left;
        }
    }

    .tokenomics-section {
        .tokenomics-img{
            max-width: 600px;
        }
    }
    .sustainability-inner {
        .sustainability-shape{
            display: none;
        }
    }

    .revenue{
        &-section {
            .tier-arrow{
                display: none;
            }
        }
        &-left{
            text-align: left;
            margin-right: auto;
        }
        &-right{
            margin: auto;
            padding-top: 185px;
        }
    }
    .utilities-invest-section{
        padding-top: 70px;
    }
    .utilities-invest-inner-border{
        display: none
    }
    .utilities-invest-column{
        width: 50% !important;
        &.center{
            display: none;
        }
    }

    .staking, 
    .audits{
        &-left{
            text-align: center;
            margin: auto;
            .section-title{
                text-align: center;
                margin: auto;
            }
        }
        &-right{
            max-width: 550px;
            margin: auto;
        }    
    }
    .staking-right{
        .staking-img{
            max-width: 307px;
            width: 100%;
            margin: auto;
            &.desktop{
                display: none;
            }
            &.mobile{
                display: block;
            }
        }
    }
    .roadmap-section {
        .roadmap-cloud{
            right: 0;
            top: 15%;
            width: 40px
        }
        .roadmap-card{
            padding: 35px 20px;
            h3{
                font-size: 26px;
            }
        }
    }
    
    .faq-section{
        padding-bottom: 70px;
        .cloud-img{
            &1{
                display: none;
            }
            &2{
                display: none;
            }
            &3{
                position: absolute;
                bottom: 2.5%;
                max-width: 100px;
                left: 50%;
            }
            &4{
                display: none;
            }
        }sition: relative;
                
    }
    .footer-img{
        img{
            height: 330px;
            object-fit: cover;
        }
    }
}
@media only screen and (max-width: 768px) {
    .container{
        max-width: 575px;
        padding: 0px 15px;
    }
    .utilities-invest{
        &-inner{
            flex-wrap: wrap;
        }
        &-img{
            display: block;
            width: 100%;
            margin-bottom: 74px;
            img{
                width: 100%;
            }
        }
        &-column{
            width: 100% !important;
            padding: 0;
            min-height: auto;
            &.left{
                padding-bottom: 50px;
            }
            ul{
                li{
                    margin-bottom: 5px;
                }
            }
            .column-title {
                h3{
                    font-size: 28px;
                }
            }
        }
    }
    .how-it-content {
        ul{
            li{
                h3{
                    font-size: 24px;
                }
            }
        }
    }
    .token-detail{
        flex-wrap: wrap;
    }

    .tokenomics-section {
        position: relative;
        z-index: 0;
        .container{
            position: relative;
            z-index: 1;
        }
        .tokenomics-img{
            max-width: 385px;
        }
        .count{
            padding: 12px 30px;
            ul{
                flex-direction:  row !important;
                justify-content: space-between;
                li{
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                }
            }
        }
    }
    .roadmap{
        &-section{
            .roadmap-shape{
                height: 285px;
            }
            .roadmap-slider{
                padding-top: 0;
            }
        }
    }
    .faq-content {
        padding-top: 20px;
        .accordion__button{
            font-size: 19px;
        }
    }
    .join-us-section{
        padding-bottom: 50px;
    }
    .utilities-invest-section{
        padding-top: 60px;
    }
    .tokenomics-text {
        max-width: 90px;
        &.two{}
        &.three{
            top: 35%;
        }
        &.four{
            top: 47%
        }
        &.five{}
        h6{
            font-size: 14px;
            span{
                font-size: 14px;
            }
        }
    }
    
    .footer{
        &-section{
            position: relative;
            .footer-cloud{
                &1{
                    position: absolute;
                    left: 0%;
                    top: 0;
                    max-width: 20%;
                }
                &2{
                    display: none;
                }
                &3{
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .banner-text {
        h1{
            font-size: 16px;
        }
        h2{
            font-size: 32px;
            max-width: 338px;
            span{
                font-size: 36px;
            }
        }
    }
    .token-detail {
        h6{
            font-size: 14px;
        }
    }
    .roadmap-section {
        .roadmap-slider{
            margin-right: 0;
        }
        .slider-item {
            h6{
                margin-bottom: 0;
            }
        }
    }
    .staking-section{
        padding-bottom: 30px;
    }
    .faq-section{
        padding-bottom: 50px;
    }
    .faq-content {
        .accordion__button{
            padding: 20px;
            font-size: 16px;
            padding-right: 50px;
            &::before,
            &::after{
                right: 30px;
            }
        }
        .accordion__panel{
            padding: 18px 20px;
        }
    }
    .join-us-content {
        padding-top: 15px;
        ul{
            flex-direction: column;
            align-items: flex-start;
            max-width: 260px;
            margin: auto;
            li{
                gap: 12px;
                img{
                    max-width: 22px;
                    width: 22px;
                }
            }
        }
    }
    .utilities-invest-column {
        .column-title {
            h3{
                font-size: 24px;
                margin-bottom: 0;
            }
            p{
                margin-top: 10px;
                margin-bottom: 0;
            }
        }
    }
    .sustainability-inner{
        .section-title{
            max-width: 235px;
            margin: auto;
            margin-bottom: 15px;
        }
        p{
            max-width: 301px;
            margin-bottom: 90px;
        }
    }
    .tokenomics-section {
        .tokenomics-shape{
            display: block;
            position: absolute;
            z-index: 0;
            bottom: 70px;
            right: 2px;
        }
        .tokenomics-img{
            .desktop{
                display: none;
            }
            .mobile{
                display: block;
                transform: translateX(30px);
            }

        }
            .count{
                padding: 12px 10px;
            }
    }
    .tokenomics-text{
        &.one{

        }
        &.two{
            top: 54%;
            left: 4%;
        }
        &.three{
            top: 57%;
        }
        &.four{
            top: 62%;
            left: 27%;
        }
        &.five{
            right: 18%;
            top: 64%;
        }
    }

    .crowdfunding{
        &-left {
            ul {
                li {
                    padding: 13px 17px;
                    .icon{
                        min-height: 65px;
                        min-width: 65px;
                        max-height: 65px;
                        max-width: 65px;
                    }
                    .detail {
                        h4{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width: 520px) {
    
    .buy-card{
        padding: 15px;
        .input-row{
            flex-wrap: wrap;
            flex-direction: column;
            gap: 20px;
        }
        .input-row {
            .rtx-input{
                width: 100%;
            }
        }
    }
    .rtx-input {
        .next-price{
            font-size: 12px;
        }
    }
    .roadmap{
        &-section{
            .roadmap-shape{
                height: 322px;
            }
        }
    }
    .tokenomics-section {
        .count{
            ul{
                gap: 15px;
                justify-content: center;
                flex-direction: column;
            }
        }
    }
}